<!DOCTYPE html>
<html lang="en" ng-app="CheckOutApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crazyplusone</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="./js/lib/jquery-3.4.1.min.js"></script>
    <script src="./js/lib/popper.min.js"></script>
    <script src="./js/lib/multiselect.min.js"></script>
    <script src="./js/lib/bootstrap.min.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="./js/lib/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="./js/lib/jquery-i18next/js/jquery-i18next.min.js"></script>

    <script src="./js/all.min.js"></script>
    <script src="./js/Utils.js"></script>
    <script src="./js/NavBar.js"></script>
    <script src="./js/Home.js"></script>
    <script src="./js/ProductCard.js"></script>

    <!-- page lib -->
    <script src="./js/lib/angular.min.js"></script>
    <script src="./js/Checkout.js"></script>

    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body ng-controller="CheckOutCtrl">
    <!-- navbar -->
    <div class="navbar-mobile-block"></div>
    <header class="container-fluid p-0" id="navbar">
        <div class="text-center narbar-logo py-20">
            <div class="d-inline-block admin-edit-content">
                <img src="./images/logo.svg" alt="logo">
                <!-- 管理者編輯 -->
                <button class="btn btn-outline-register btn-admin-edit logo-admin-edit p-1" data-i18n="btn_edit" data-Authority="admin">編輯</button>
                <!-- 管理者編輯 -->
            </div>
        </div>
        <nav class="navbar narbar-container navbar-expand-sm navbar-light">
            <div class="box">
                <div id="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="collapse navbar-collapse mobile-side-bar" id="navbar_collapse">
                <div class="text-center py-20  mobile-side-bar-item mobile-side-bar-logo">
                    <img src="./images/logo.svg" alt="logo">
                </div>
                <div class="input-group mobile-side-bar-item mb-3">
                    <input type="text" class="input-search-bar form-control rounded-0" placeholder="搜尋商品">
                    <div class="d-flex">
                        <span class="input-group-text input-search-bar-bg rounded-0"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>

            <div class="navbar-status-content">
            </div>
        </nav>
    </header>
    <div class="gotop">
        <i class="fas fa-angle-up"></i>
    </div>
    <!-- navbar -->
    <section class="container-fluid px-md-30 px-15">
        <h4 class="my-20">結帳(Checkout)</h4>
        <form id="checkout-userinfo" ng-submit="submit()">
            <section class="my-md-50 my-30">
                <h5 class="my-20 order-title">1.訂購人資料</h5>
                <hr>
                <div class="row d-flex flex-wrap">
                    <div class="col-md-6 col-12 mb-3 order-0">
                        <p class="mb-2"><label for="">姓名</label></p>
                        <input class="w-100" type="text" name="name" value="{{member.name}}" required="required" disabled="disabled">
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-1">
                        <p class="mb-2"><label for="">性別</label></p>
                        <input type="radio" name="gender1" id="gender-man" value="男" ng-model="member.gender" ng-true-value="'男'" required="required" disabled="disabled">
                        <label class="checkout-radio-label" for="gender-man">男</label>
                        <input type="radio" name="gender1" id="gender-woman" value="女" ng-model="member.gender" ng-true-value="'女'" required="required" disabled="disabled">
                        <label class="checkout-radio-label" for="gender-woman">女</label>
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-2">
                        <p class="mb-2"><label for="">聯絡電話</label></p>
                        <input class="w-100" type="text" value="{{member.tel}}" required="required" disabled="disabled">
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-md-3 order-4">
                        <p class="mb-2"><label for="">手機號碼</label></p>
                        <input class="w-100" type="text" value="{{member.cellphone}}" required="required" disabled="disabled">
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-md-4 order-3">
                        <p class="mb-2"><label for="">Email</label></p>
                        <input class="w-100" type="email" value="{{member.email}}" required="required" disabled="disabled">
                    </div>
                    <div class="col-lg-6 col-12 mb-3 order-5">
                        <p class="mb-2"><label for="">地址</label></p>
                        <!--
                        <select class="checkout-select" ng-model="SelCity" ng-options="City.name for City in Citys" ng-change="update(SelCity)">
                            <option value="">縣市</option>
                        </select>
                        <select class="checkout-select" ng-model="SelArea" ng-options="SelCity.townId+':'+SelCity.zipCode as SelCity.townName for SelCity in level2" >
                            <option value="">鄉鎮市區</option>
                        </select>
                            -->
                        <input class="w-100" type="text" value="{{member.address}}" required="required" disabled="disabled">
                    </div>
                </div>
            </section>
            <section class="mb-md-50 mb-30">
                <div class="checkout-recipient">
                    <h5 class="my-20 order-title">2.收件人資料</h5>
                    <hr>
                    <button class="btn btn-outline-register btn-dotted btn-same-recipient py-1 mb-lg-3 mb-0" ng-click="replaceData()">同訂購人資料</button>
                </div>

                <div class="row d-flex flex-wrap">
                    <div class="col-md-6 col-12 mb-3 order-0">
                        <p class="mb-2"><label for="">姓名</label></p>
                        <input class="w-100" type="text" name="name" ng-model="checkout.recipientName" required="required">
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-1">
                        <p class="mb-2"><label for="">性別</label></p>
                        <input type="radio" name="gender2 id="gender-man" value="男" ng-model="checkout.recipientGender" ng-true-value="'男'">
                        <label class="checkout-radio-label" for="gender-man">男</label>
                        <input type="radio" name="gender2" id="gender-woman" value="女" ng-model="checkout.recipientGender" ng-true-value="'女'">
                        <label class="checkout-radio-label" for="gender-woman">女</label>
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-2">
                        <p class="mb-2"><label for="">聯絡電話</label></p>
                        <input class="w-100" type="text" ng-model="checkout.recipientTel" required="required">
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-md-3 order-4">
                        <p class="mb-2"><label for="">手機號碼</label></p>
                        <input class="w-100" type="text" ng-model="checkout.recipientMobile" required="required">
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-md-4 order-3">
                        <p class="mb-2"><label for="">Email</label></p>
                        <input class="w-100" type="email" ng-model="checkout.recipientEmail" required="required">
                    </div>
                    <div class="col-lg-6 col-12 mb-3 order-5">
                        <p class="mb-2"><label for="">地址</label></p>
                        <select class="checkout-select" ng-model="SelCity" ng-options="City.name for City in Citys" ng-change="update(SelCity)" required="required">
                            <option value="">縣市</option>
                        </select>
                        <select class="checkout-select" ng-model="SelArea" ng-options="SelCity.townId+':'+SelCity.zipCode as SelCity.townName for SelCity in level2" required="required">
                            <option value="">鄉鎮市區</option>
                        </select>
                        <input class="checkout-address" type="text" ng-model="checkout.recipientAddr" required="required">
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-6">
                        <p class="mb-2"><label for="">希望到貨時段</label></p>
                        <select class="checkout-select checkout-select-w100" name="" id="" ng-model="checkout.hopeArrivalTime">
                            <option value="">請選擇</option>
                            <option value="上午">上午</option>
                            <option value="中午">中午</option>
                            <option value="晚上">晚上</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-12 mb-3 order-7">
                        <p class="mb-2"><label for="">運送備註</label></p>
                        <textarea class="w-100" name="" id="" ng-model="checkout.orderRemark"></textarea>
                    </div>
                </div>
            </section>
            <section class="mb-md-50 mb-30">
                <h5 class="my-20 order-title">3.選擇運送方式</h5>
                <hr>
                <div class="row">
                    <div class="col-12" ng-repeat="item in Freight">
                        <input type="radio" name="transport-method" id="face-to-face" value="{{item.method}}:{{item.price}}" ng-model="checkout.shippingMethod" required="required">
                        <label class="checkout-radio-label" for="face-to-face">{{item.method}}:{{item.price}}元</label>
                        <!--

                        <div class="transport-method-describe mt-15">
                            面交地點說明：
                        </div>
                        <input type="radio" name="transport-method" id="express" value="快遞送貨" ng-model="checkout.shippingMethod" required="required">
                        <label class="checkout-radio-label" for="express">快遞送貨</label> <span class="text-hint">運費 $180</span>
                        <div class="transport-method-describe mt-15">
                            本公司會依照下單順序、匯款回壓順序進行出貨 <br>
                            下單完成之後，請於狀態變成『等待貨款』後趕快匯款回壓，避免影響你的出貨權益。<br><br>
                            <span class="text-hint"><b><i class="fas fa-exclamation-triangle"></i>常溫商品與冷凍商品無法合併出貨！</b></span>
                        </div>
                            -->
                    </div>
                </div>
            </section>
            <section class="mb-md-50 mb-30">
                <h5 class="my-20 order-title">4.選擇付款方式</h5>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <input type="radio" name="pay-method" id="face-to-face-pay" value="面交付款" ng-model="checkout.payType" required="required">
                        <label class="checkout-radio-label " for="face-to-face-pay">面交付款</label>
                        <br><br>
                        <input type="radio" name="pay-method" id="atm-pay" value="ATM 轉帳" ng-model="checkout.payType" required="required">
                        <label class="checkout-radio-label" for="atm-pay">ATM 轉帳</label>
                        <div class="transport-method-describe mt-15">
                            匯款資訊處 <br>
                            郵局代號： <br>
                            轉帳帳號： <br>
                            戶名： <br><br>
                            <span><b><i class="fas fa-exclamation-triangle text-hint"></i>請於本公司訂單處理好之後再進行匯款..謝謝合作</b></span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mb-md-50 mb-30">
                <h5 class="my-20 order-title">5.發票資料</h5>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p>本站購物需外加5%發票稅，若選不需開發票則不需加5％發票稅</p>
                        <input type="radio" name="receipt" id="no-receipt" value="false" ng-model="checkout.isNeedInvoice">
                        <label class="checkout-radio-label " for="no-receipt">不需開發票</label>
                        <br><br>
                        <input type="radio" name="receipt" id="atm-pay" value="empty" ng-model="checkout.isNeedInvoice">
                        <label class="checkout-radio-label" for="atm-pay">三聯式發票</label>
                        <div class="transport-method-describe mt-15">
                            <div class="col-12 mb-3">
                                <p class="mb-2"><label for="">公司統一編號</label></p>
                                <input class="w-100" type="text" ng-model="checkout.invoiceBuinessNo">
                            </div>
                            <div class="col-12 mb-3">
                                <p class="mb-2"><label for="">發票抬頭</label></p>
                                <input class="w-100" type="text" ng-model="checkout.invoiceTitle">
                            </div>
                            <div class="col-12 mb-3">
                                <p class="mb-2"><label for="">發票收件人</label></p>
                                <input class="w-100" type="text" ng-model="checkout.invoiceName">
                            </div>
                            <div class="col-12 mb-3">
                                <p class="mb-2"><label for="">發票收件地址</label></p>
                                <select class="checkout-select" ng-model="recSelCity" ng-options="City.name for City in Citys" ng-change="recUpdate(recSelCity)">
                                    <option value="">縣市</option>
                                </select>
                                <select class="checkout-select" ng-model="recSelArea" ng-options="SelCity.townId+':'+SelCity.zipCode as SelCity.townName for SelCity in reclevel2">
                                    <option value="">鄉鎮市區</option>
                                </select>
                                <input class="checkout-address" type="text" ng-model="checkout.invoiceAddr">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="my-md-50 my-30 d-flex justify-content-end align-items-center">
                <a class="cart-link-btn mr-4" href="#">回上一頁</a>
                <input class="btn btn-register cart-nextpage-btn" type="submit" value="確認資料" />
                <!--<a class="btn btn-register cart-nextpage-btn" href="./checkout-success.html">確認資料</a>-->
            </div>
        </form>
    </section>
</body>
</html>