<!DOCTYPE html>
<html lang="en" ng-app="OrderApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crazyplusone</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="./js/lib/jquery-3.4.1.min.js"></script>
    <script src="./js/lib/popper.min.js"></script>
    <script src="./js/lib/multiselect.min.js"></script>
    <script src="./js/lib/bootstrap.min.js"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="./js/lib/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="./js/lib/jquery-i18next/js/jquery-i18next.min.js"></script>

    <script src="./js/all.min.js"></script>
    <script src="./js/Utils.js"></script>
    <script src="./js/NavBar.js"></script>
    <script src="./js/Home.js"></script>
    <script src="./js/ProductCard.js"></script>

    <!-- page lib -->
    <script src="./js/lib/angular.min.js"></script>
    <script src="./js/Order.js"></script>

    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body ng-controller="OrderCtrl">
    <!-- navbar -->
    <div class="navbar-mobile-block"></div>
    <header class="container-fluid p-0" id="navbar">
        <div class="text-center narbar-logo py-20">
            <div class="d-inline-block admin-edit-content">
                <img src="./images/logo.svg" alt="logo">
                <!-- 管理者編輯 -->
                <button class="btn btn-outline-register btn-admin-edit logo-admin-edit p-1" data-i18n="btn_edit" data-Authority="admin" style="display:none;">編輯</button>
                <!-- 管理者編輯 -->
            </div>
        </div>
        <nav class="navbar narbar-container navbar-expand-sm navbar-light">
            <div class="box">
                <div id="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="collapse navbar-collapse mobile-side-bar" id="navbar_collapse">
                <div class="text-center py-20  mobile-side-bar-item mobile-side-bar-logo">
                    <img src="./images/logo.svg" alt="logo">
                </div>
                <div class="input-group mobile-side-bar-item mb-3">
                    <input type="text" class="input-search-bar form-control rounded-0" placeholder="搜尋商品">
                    <div class="d-flex">
                        <span class="input-group-text input-search-bar-bg rounded-0"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>

            <div class="navbar-status-content">
            </div>
        </nav>
    </header>
    <div class="gotop">
        <i class="fas fa-angle-up"></i>
    </div>
    <!-- navbar -->
    <section class="container-fluid">
        <h4 class="my-30">訂單查詢</h4>
        <div class="row">
            <div class="col-lg-9 col-12 order-lg-0 order-1 px-sm-15 px-1">
                <p class="p-20 cart-hint order-hint">
                    匯款後請點該訂單後續聯絡通知本店出貨！快速查看<a href="" data-toggle="modal" data-target="#money-transfer">匯款資訊</a>
                </p>
                <table class="table table-bordered order-table">
                    <thead>
                        <tr>
                            <th class="table-order-num table-order-soft">訂購編號 <i class="fas fa-sort text-hint"></i></th>
                            <th class="table-buy-date table-order-soft">購買日期 <i class="fas fa-sort text-hint"></i></th>
                            <th>收貨人</th>
                            <th>送貨地址</th>
                            <th class="table-pay-status table-order-soft">貨款狀態 <i class="fas fa-sort text-hint"></i></th>
                            <th class="table-ship-status table-order-soft">出貨狀態 <i class="fas fa-sort text-hint"></i></th>
                            <th>備註</th>
                            <th class="table-order-price table-order-soft">訂單金額 <i class="fas fa-sort text-hint"></i></th>
                            <th>詳情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data">
                            <td class="text-hint table-order-num table-order-status">{{item.serialNo}}</td>
                            <td>{{item.dtOrder|date:'yyyy-MM-dd'}}</td>
                            <td>{{item.recipientName}}</td>
                            <td>{{item.recipientAddr}}</td>
                            <td class="text-hint table-order-status">{{item.payStatus}}</td>
                            <td class="text-hint table-order-status">{{item.shippingStatus}}</td>
                            <td>{{item.orderRemark}}</td>
                            <td>{{item.orderAmount}}</td>
                            <td>
                                <button ng-click="action(item.id)" class="btn btn-register py-0 px-2 mb-1">詳情</button>
                                <button class="btn btn-outline-register py-0 px-2 mb-1" data-toggle="modal" data-target="#keeptouch" ng-click="contact(item.id)">後續聯絡</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <section class="mobile-order" id="mobile-order-list">
                    <div class="order mb-20" ng-repeat="item in data">
                        <a ng-click="action(item.id)" class="row mobile-order-row mx-0">
                            <div class="col-4 text-hint mb-1 order-emphasize px-0">{{item.serialNo}}</div>
                            <div class="col-5 px-0 pt-1 mb-1 px-0"><span>購買日期</span>  <span class="text-hint mobile-buy-date">{{item.dtOrder|date:'yyyy-MM-dd'}}</span></div>
                            <div class="col-3 pt-1 mb-1 px-0">${{item.orderAmount}}</div>
                            <div class="col-12 mb-2 px-0"><span>貨款狀態</span> <span class="text-hint order-emphasize">{{item.payStatus}}</span></div>
                            <div class="col-12 mb-2 px-0"><span>出貨狀態</span> <span class="text-hint order-emphasize">{{item.shippingStatus}}</span></div>
                        </a>
                        <button class="btn btn-report transfer-report py-0 px-2 mb-1" data-toggle="modal" data-target="#keeptouch" ng-click="contact(item.id)">匯款回報</button>
                        <div class="accordion order-accordion">
                            <div class="card">
                                <div class="card-header p-0">
                                    <button class="btn btn-link w-100 h-100 text-right p-0 pr-2 order-collapse-btn collapsed" type="button" data-toggle="collapse" data-target="#order-item-1">
                                        <i class="fas fa-angle-down"></i>
                                        <i class="fas fa-angle-up"></i>
                                    </button>
                                </div>
                                <div id="order-item-1" class="collapse" data-parent="#mobile-order-list">
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col-3 mb-2">收貨人</div>
                                            <div class="col-9 px-0 mb-2">{{item.recipientName}}</div>
                                            <div class="col-3 mb-2">送貨地址</div>
                                            <div class="col-9 px-0 mb-2">{{item.recipientAddr}}</div>
                                            <div class="col-12">備註</div>
                                            <div class="col-9 px-0 mb-2">{{item.orderRemark}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
            <div class="col-lg-3 col-12 order-lg-1 order-0 filters-col px-sm-15 px-1">
                <div class="products-tool mb-md-30 mb-20">
                    <div class="products-search-bar filter-bar">
                        <form class="products-search d-inline-block filter-search-bar mr-2">
                            <input type="text" class="navbar-search-text" placeholder="搜尋單號">
                            <button type="submit" class="navbar-search-btn border-0"><i class="fas fa-search"></i></button>
                        </form>
                        <div class="btn-group d-block filters-group">
                            <button type="button" class="border-0 dropdown-toggle" data-toggle="dropdown" id="order-filter">
                                <i class="fas fa-filter"></i> 篩選條件
                            </button>
                            <div class="dropdown-menu desktop-filters">
                                <form class="row mx-0" id="filters-form">
                                    <div class="col-12 mb-3 multiple-filters-row">
                                        <label for="" class="mr-2">訂單狀態</label>
                                        <select id="multiple-filters" multiple="multiple">
                                            <option value="未出貨">未出貨</option>
                                            <option value="缺貨中">缺貨中</option>
                                            <option value="處理中">處理中</option>
                                            <option value="備貨中">備貨中</option>
                                            <option value="已出貨">已出貨</option>
                                            <option value="已先出貨">已先出貨</option>
                                            <option value="已斷貨">已斷貨</option>
                                            <option value="優先處理">優先處理</option>
                                            <option value="交易完成">交易完成</option>
                                            <option value="交易取消">交易取消</option>
                                            <option value="細目狀態不為空">細目狀態不為空</option>
                                            <option value="細目狀態全數已到貨">細目狀態全數已到貨</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="" class="mr-2">日期區間</label>
                                        <input type="text" class="filter-date-range filter-w100">
                                    </div>
                                    <div class="col-4 text-lg-center text-left pr-0 mb-2">
                                        <input type="radio" name="filters" id="order-num">
                                        <label class="checkout-radio-label mb-0" for="order-num">訂單單號</label>
                                    </div>
                                    <div class="col-4 text-lg-center text-left px-0 mb-2">
                                        <input type="radio" name="filters" id="order-item-name">
                                        <label class="checkout-radio-label mb-0" for="order-item-name">商品名稱</label>
                                    </div>
                                    <div class="col-4 text-lg-center text-left px-0 mb-2">
                                        <input type="radio" name="filters" id="item-num">
                                        <label class="checkout-radio-label mb-0" for="item-num">商品代碼</label>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="filter-date-range w-100">
                                    </div>
                                    <div class="col-12 d-flex justify-content-end align-items-center mt-40">
                                        <a class="mr-3" href="javascript:;" id="filters-allclear">清空條件</a>
                                        <button type="submit" class="btn btn-register filter-search-btn">查詢</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="money-transfer" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="money-transferLabel">匯款資訊</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>匯款資訊處</p>
                    <p>
                        <span>銀行代號：</span> <span>{{bank.bankCode}}</span>
                    </p>
                    <p><span>轉帳帳號：</span> <span>{{bank.bankAccount}}</span></p>
                    <p><span>戶名：</span> <span>{{bank.bankTitle}}</span></p>
                    <p><i class="fas fa-exclamation-triangle text-hint"></i> 請於本公司訂單處理好之後再進行匯款..謝謝合作</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mobile-order-modal" id="keeptouch" tabindex="-1" role="dialog">
        <form ng-submit="submit()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="keeptouchLabel">匯款回報</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mr-0">
                            <div class="col-lg-3 col-4 mb-3">聯絡日期</div>
                            <div class="col-lg-9 col-8 keeptouch-date mb-3 px-0 py-1">{{now|date:'yyyy-MM-dd'}}</div>
                            <div class="col-lg-3 col-4 mb-3">聯絡內容</div>
                            <div class="col-lg-9 col-8 px-0 mb-3">
                                <textarea name="" id="" ng-model="contact.ContactContent" required="required">
    匯款日：
    末五碼：
    備註：
                    </textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-modal-submit mb-30" ng-click="useSample()">回報範本</button>
                            <button type="submit" class="btn btn-modal-submit mb-30">提交</button>
                        </div>
                        <div class="mobile-keeptouchLabel">
                            <p class="mb-2">匯款回報</p>
                            <table class="table table-bordered order-detail-table">
                                <tbody>
                                    <tr>
                                        <th scope="row">聯絡日期</th>
                                        <td>訊息</td>
                                    </tr>
                                    <tr ng-repeat="contact in contactList">
                                        <th scope="row">{{contact.dtContact|date:'yyyy-MM-dd'}}</th>
                                        <td>
                                            <p class="mb-0">{{contact.contactContent}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>