<!DOCTYPE html>
<html lang="en" ng-app="OrderApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crazyplusone</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="./js/lib/jquery-3.4.1.min.js"></script>
    <script src="./js/lib/popper.min.js"></script>
    <script src="./js/lib/multiselect.min.js"></script>
    <script src="./js/lib/bootstrap.min.js"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="./js/lib/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="./js/lib/jquery-i18next/js/jquery-i18next.min.js"></script>

    <script src="./js/all.min.js"></script>
    <script src="./js/Utils.js"></script>
    <script src="./js/NavBar.js"></script>
    <script src="./js/OrderDetail.js"></script>

    <!-- page lib -->
    <script src="./js/lib/angular.min.js"></script>
    <script src="./js/OrderDetail.js"></script>

    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body ng-controller="OrderCtrl">
    <!-- navbar -->
    <div class="navbar-mobile-block"></div>
    <header class="container-fluid p-0" id="navbar">
        <div class="text-center narbar-logo py-20">
            <div class="d-inline-block admin-edit-content">
                <img src="./images/logo.svg" alt="logo">
                <!-- 管理者編輯 -->
                <button class="btn btn-outline-register btn-admin-edit logo-admin-edit p-1" data-i18n="btn_edit" data-Authority="admin">編輯</button>
                <!-- 管理者編輯 -->
            </div>
        </div>
        <nav class="navbar narbar-container navbar-expand-sm navbar-light">
            <div class="box">
                <div id="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="collapse navbar-collapse mobile-side-bar" id="navbar_collapse">
                <div class="text-center py-20  mobile-side-bar-item mobile-side-bar-logo">
                    <img src="./images/logo.svg" alt="logo">
                </div>
                <div class="input-group mobile-side-bar-item mb-3">
                    <input type="text" class="input-search-bar form-control rounded-0" placeholder="搜尋商品">
                    <div class="d-flex">
                        <span class="input-group-text input-search-bar-bg rounded-0"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>

            <div class="navbar-status-content">
            </div>
        </nav>
    </header>
    <div class="gotop">
        <i class="fas fa-angle-up"></i>
    </div>
    <!-- navbar -->
    <section class="container-fluid">
        <h4 class="my-30">訂單詳情</h4>
        <div class="row">
            <div class="col-lg-5 col-12">
                <table class="table table-bordered order-detail-table order-text-center">
                    <tbody>
                        <tr>
                            <th scope="col">訂購單號</th>
                            <td class="text-hint table-order-status">{{master.serialNo}}</td>
                        </tr>
                        <tr>
                            <th scope="col">購買日期</th>
                            <td>{{master.dtOrder|date:'yyyy-MM-dd'}}</td>
                        </tr>
                        <tr>
                            <th scope="col">購買人</th>
                            <td>{{master.userName}}</td>
                        </tr>
                        <tr>
                            <th scope="col">收貨人</th>
                            <td>{{master.recipientName}}</td>
                        </tr>
                        <tr>
                            <th scope="col">送貨地址</th>
                            <td>{{master.recipientAddr}}</td>
                        </tr>
                        <tr>
                            <th scope="col">希望到貨時段</th>
                            <td>{{master.hopeArrivalTime}}</td>
                        </tr>
                        <tr>
                            <th scope="col">備註</th>
                            <td>{{master.orderRemark}}</td>
                        </tr>
                        <tr>
                            <th scope="col">發票資料</th>
                            <td>{{master.isNeedInvoice?'三聯式發票':'不需要'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-7 col-12">
                <table class="table table-bordered order-detail-table">
                    <tbody>
                        <tr>
                            <td class="text-center">貨款狀態</td>
                            <td class="table-order-status">{{master.payStatus}}</td>
                            <td>
                                <!--
                                <p class="mb-0">@ATM轉帳</p>
                                <p class="mb-0">匯款日：2019/12/20</p>
                                <p class="mb-0 d-flex justify-content-between"><span>末五碼：74445 </span> <a href="#" class="order-link" data-toggle="modal" data-target="#keeptouch">匯款回報</a> </p>
                                <p class="mb-0">備註：</p>
                                    -->
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">出貨狀態</td>
                            <td class="table-order-status">{{master.shippingMethod}}</td>
                            <td>
                                <!--
                                    <p class="mb-0">貨運方式：<a class="order-link" href="#">大榮貨運</a></p>
                                    <p class="mb-0">單號追蹤：<a class="order-link" href="#">20191230102938</a></p>
                                -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>商品明細</p>
                <table class="table table-bordered cart-table order-detail-table" id="desktop-cart">
                    <thead>
                        <tr>
                            <th scope="col">商品圖</th>
                            <th scope="col">商品資訊</th>
                            <th scope="col">商品備註</th>
                            <th scope="col">單價</th>
                            <th scope="col">訂購數量</th>
                            <th scope="col">金額</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in detail">
                            <td scope="row">
                                <div class="mx-auto cart-item-img" style="background-image: url('{{item.prdImages}}');"></div>
                            </td>
                            <td class="cart-item-title">{{item.name}}</td>
                            <td class="table-center table-badge"></td>
                            <td class="table-center cart-price">
                                <p class="mb-0 table-member-price">會員價</p>
                                <p class="mb-0">{{item.unitPrice}}</p>
                            </td>
                            <td class="table-center cart-num">{{item.qty}}</td>
                            <td class="table-center cart-item-totalprice" ng-init="CalculateSum(item)">{{item.amount}}</td>
                        </tr>
                        <tr>
                            <td class="text-right cart-all-toalprice" colspan="4">運費</td>
                            <td class="text-right" colspan="2">{{ShipAmt}}</td>
                        </tr>
                        <tr>
                            <td class="text-right cart-all-toalprice" colspan="4">訂單金額</td>
                            <td class="text-right" colspan="2">{{resultAmt}}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="mobile-cart">
                    <div class="row mobile-cart-item mx-0 mb-15" ng-repeat="item in detail">
                        <div class="col-5 px-0">
                            <div class="mx-auto mobile-cart-item-img" style="background-image: url('./images/item-1.png');"></div>
                        </div>
                        <div class="col-7 mobile-cart-info py-1 px-2">
                            <p class="mobile-cart-item-title text-hint">{{item.name}}</p>
                            <p class="mb-1"><span class="text-hint">會員價</span> ${{item.unitPrice}}</p>
                            <p class="mb-1 text-right">x{{item.qty}}</p>
                            <div><span class="badge badge-no-discount">需獨立下單</span></div>
                        </div>
                        <table class="table table-bordered order-detail-table mb-0">
                            <tr>
                                <td class="p-0">數量</td>
                                <td class="p-0">{{item.qty}}</td>
                            </tr>
                            <tr>
                                <td class="p-0">金額</td>
                                <td class="p-0">{{item.amount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p class="member-level my-40">※ 會員等級『會員等級名稱』享8.5折</p>
                <p class="mb-2">匯款回報 <a href="" class="btn btn-member-report" data-toggle="modal" data-target="#keeptouch">新增</a> </p>
                <table class="table table-bordered order-detail-table">
                    <tbody>
                        <tr>
                            <th scope="row">聯絡日期</th>
                            <td>訊息</td>
                        </tr>
                        <tr ng-repeat="item in contactList">
                            <th scope="row">{{item.dtContact|date:'yyyy-MM-dd'}}</th>
                            <td>
                                <p class="mb-0">{{item.contactContent}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <div class="modal fade" id="keeptouch" tabindex="-1" role="dialog">
        <form ng-submit="submit()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="keeptouchLabel">匯款回報</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mr-0">
                            <div class="col-lg-3 col-4 mb-3">聯絡日期</div>
                            <div class="col-lg-9 col-8 keeptouch-date mb-3 px-0 py-1">{{now|date:'yyyy-MM-dd'}}</div>
                            <div class="col-lg-3 col-4 mb-3">聯絡內容</div>
                            <div class="col-lg-9 col-8 px-0 mb-3">
                                <textarea name="" id="" ng-model="contact.ContactContent" required="required">
    匯款日：
    末五碼：
    備註：
                    </textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-modal-submit mb-30">提交</button>
                        </div>
                        <div class="mobile-keeptouchtabel">
                            <p class="mb-2">匯款回報</p>
                            <table class="table table-bordered order-detail-table">
                                <tbody>
                                    <tr>
                                        <th scope="row">聯絡日期</th>
                                        <td>訊息</td>
                                    </tr>
                                    <tr ng-repeat="item in contactList">
                                        <th scope="row">{{item.dtContact|date:'yyyy-MM-dd'}}</th>
                                        <td>
                                            <p class="mb-0">{{item.contactContent}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
