<!DOCTYPE html>
<html lang="en" ng-app="QuestionApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crazyplusone</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="./js/lib/jquery-3.4.1.min.js"></script>
    <script src="./js/lib/popper.min.js"></script>
    <script src="./js/lib/multiselect.min.js"></script>
    <script src="./js/lib/bootstrap.min.js"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="./js/lib/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="./js/lib/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="./js/lib/jquery-i18next/js/jquery-i18next.min.js"></script>

    <script src="./js/all.min.js"></script>
    <script src="./js/Utils.js"></script>
    <script src="./js/NavBar.js"></script>
    
    <script src="./js/lib/angular.min.js"></script>
    <script src="./js/Questions.js"></script>

    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body ng-controller="QuestionCtrl">
    <!-- navbar -->
    <div class="navbar-mobile-block"></div>
    <header class="container-fluid p-0" id="navbar">
        <div class="text-center narbar-logo py-20">
            <div class="d-inline-block admin-edit-content">
                <img src="./images/logo.svg" alt="logo">
                <!-- 管理者編輯 -->
                <button class="btn btn-outline-register btn-admin-edit logo-admin-edit p-1" data-i18n="btn_edit" data-Authority="admin" style="display:none;">編輯</button>
                <!-- 管理者編輯 -->
            </div>
        </div>
        <nav class="navbar narbar-container navbar-expand-sm navbar-light">
            <div class="box">
                <div id="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="collapse navbar-collapse mobile-side-bar" id="navbar_collapse">
                <div class="text-center py-20  mobile-side-bar-item mobile-side-bar-logo">
                    <img src="./images/logo.svg" alt="logo">
                </div>
                <div class="input-group mobile-side-bar-item mb-3">
                    <input type="text" class="input-search-bar form-control rounded-0" placeholder="搜尋" data-i18n="[placeholder]search">
                    <div class="d-flex">
                        <span class="input-group-text input-search-bar-bg rounded-0"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>

            <div class="navbar-status-content">
            </div>
        </nav>
    </header>
    <div class="gotop">
        <i class="fas fa-angle-up"></i>
    </div>
    <!-- navbar -->

    <section class="container-fluid px-md-30 px-15 my-50">
        <div class="col-12 px-0">
            <div class="products-tool mb-md-30 mb-20">
                <h4 data-i18n="question_title">常見問題</h4>
                <div class="products-search-bar" data-Authority="member">
                    <form class="products-search d-inline-block">
                        <input type="text" class="navbar-search-text active" placeholder="關鍵字" ">
                        <button type="submit" class="navbar-search-btn border-0"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- 桌機 相關問題 -->
        <div class="row" id="desktop-questions">
            <div class="col-lg-3 col-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!--
                    <a class="nav-link active" id="member-question-tab" data-toggle="pill" href="#會員-question" role="tab" aria-controls="會員-question" aria-selected="true">會員相關</a>
                    <a class="nav-link" id="item-quesiotn-tab" data-toggle="pill" href="#item-quesiotn" role="tab" aria-controls="item-quesiotn" aria-selected="false">商品相關</a>
                    <a class="nav-link" id="rate-question-tab" data-toggle="pill" href="#rate-question" role="tab" aria-controls="rate-question" aria-selected="false">運費相關</a>
                    -->
                    <a ng-repeat="(key, value) in map" class="nav-link" id="{{key}}-quesiotn-tab" data-toggle="pill" href="#{{key}}-quesiotn" role="tab" aria-controls="{{key}}-quesiotn" aria-selected="false" ng-click="action(key)">{{key}}</a>
                </div>
            </div>
            <div class="col-lg-9 col-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab">
                        <!-- 問題 -->
                        <div ng-repeat="item in value" class="accordion" id="{{item.type}}-questions-list">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="mb-0 ">
                                        <button class="btn btn-link d-flex justify-content-between align-items-center accordion-btn" type="button" data-toggle="collapse" data-target="#{{item.type}}-question-{{$index+1}}" aria-expanded="true" aria-controls="{{item.type}}-question-{{$index+1}}">
                                            <span>{{item.question}}</span>
                                            <span class="question-arrows">
                                                <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i>
                                            </span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="{{item.type}}-question-{{$index+1}}" class="collapse show" data-parent="#{{item.type}}-questions-list">
                                    <div class="card-body" ng-bind-html="to_trusted(item.answer)">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 問題 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- 桌機 相關問題 -->
        <!-- 手機 會員問題 -->
        <div class="col-12 px-0" id="mobile-questions">
            <div class="accordion" id="mobile-questions-list">
                <!-- 手機 會員問題 -->
                <div class="card" ng-repeat="(key, value) in map">
                    <div class="card-header mobile-main-collapsed">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mobile-{{key}}-list">
                                {{key}}
                            </button>
                        </h2>
                    </div>
                    <div id="mobile-{{key}}-list" class="collapse" data-parent="#mobile-questions-list">
                        <div class="card-body p-0" ng-repeat="item in value">
                            <div class="accordion" id="mobile-{{key}}-questions">
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link d-flex justify-content-between align-items-center accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#mobile-{{item.type}}-question-{{$index+1}}">
                                                <span>{{item.question}}</span>
                                                <span class="question-arrows">
                                                    <i class="fas fa-chevron-down"></i>
                                                    <i class="fas fa-chevron-up"></i>
                                                </span>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="mobile-{{item.type}}-question-{{$index+1}}" class="collapse" data-parent="#mobile-{{item.type}}-questions">
                                        <div class="card-body" ng-bind-html="to_trusted(item.answer)">

                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- 手機 會員問題 -->
    </section>


</body>
</html>
